Repository mono-yamamoto/Chumo_task-management-tool: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, eslint-functions, oxfmt

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

eslint-functions:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

oxfmt:
  run: npx oxfmt {staged_files}
  stage_fixed: true
  skip_empty: true

🐛 fix(users): /me APIで機密カラムを除外してsafeUserColumnsを使用
  backend/src/routes/users.ts
Due: eslint, oxfmt

🐛 fix(tasks): limitクエリパラメータに範囲制限を追加
  backend/src/routes/tasks.ts
Due: eslint, oxfmt

✨ feat(claude): difit-reviewスキルを追加
  .claude/skills/difit-review/SKILL.md
Due: oxfmt

✅ test(backend): CI基盤修正とテストインフラ改善
  .github/workflows/test-backend.yml
  backend/package.json
  backend/src/db/test-helpers.ts
  backend/src/routes/backlog.test.ts
  backend/src/routes/test-app.ts
Due: eslint, oxfmt

✅ test(backend): labels/task-pins/users/contactのテスト追加
  backend/src/routes/contact.test.ts
  backend/src/routes/labels.test.ts
  backend/src/routes/task-pins.test.ts
  backend/src/routes/users.test.ts
Due: eslint, oxfmt

♻️ refactor(root): ESLintをoxlintに完全移行
  bun.lock
  eslint.config.mjs
  frontend/.oxlintrc.json
  frontend/eslint.config.mjs
  frontend/package.json
  lefthook.yml
  package.json
Due: oxfmt

🐛 fix(backend): 署名検証をtiming-safe化しexp検証を強化
  CLAUDE.md
  backend/src/index.ts
Due: eslint, oxfmt

🔒 fix(backend): 署名付きURLをDB保存せずAPI応答時に都度生成
  backend/src/routes/upload.ts
  backend/src/routes/users.ts
  frontend/src/pages/settings/components/ProfileTab.tsx
Due: eslint, oxfmt

✅ fix(backend): 既存の型エラー修正 + pre-commitに型チェック追加
  backend/package.json
  backend/src/lib/notifications.ts
  backend/src/routes/reports.ts
  lefthook.yml
  package.json
Due: eslint, oxfmt

♻️ refactor(backend): simplifyレビュー指摘を反映
  backend/src/lib/crypto.ts
  backend/src/routes/reports.ts
  backend/src/routes/users.ts
  lefthook.yml
Due: eslint, oxfmt

📝 docs(root): README/SETUP.mdを現行スタックに合わせて更新
  README.md
  SETUP.md
Due: none

⚙️ chore(backend): oxlint + oxfmt を導入
  CLAUDE.md
  README.md
  SETUP.md
  backend/.oxlintrc.json
  backend/package.json
  lefthook.yml
  package.json
Due: oxfmt

🐛 fix(backend): oxlint指摘の修正
  backend/src/lib/notifications.ts
  backend/src/routes/users.ts
Due: eslint, oxfmt

📝 docs(root): type-checkコメントをfrontend+backendに統一
  CLAUDE.md
Due: none

✨ feat(auth): ステージング向けプレビューモードを追加
  backend/src/index.ts
  backend/src/middleware/auth.ts
  backend/wrangler.toml
  frontend/src/components/auth/AuthGuard.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/shared/TaskDrawer/DrawerActionBar.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useIntegrationActions.ts
  frontend/src/hooks/usePreviewMode.ts
  frontend/src/lib/api.ts
  frontend/src/pages/login/LoginPage.tsx
  frontend/src/pages/reports/components/ReportToolbar.tsx
  frontend/src/pages/settings/components/AdminTab.tsx
  frontend/src/pages/tasks/components/TaskDetailActionBar.tsx
Due: eslint, oxfmt

⚙️ chore(scripts): シードデータ投入スクリプトを追加
  backend/src/routes/users.ts
  package.json
  scripts/db-seed.sh
  scripts/seed.sql
Due: eslint, oxfmt

⚙️ chore: Dockerコンテナ統一・シードデータ改善・SETUP.md更新
  SETUP.md
  docker-compose.yml
  frontend/src/pages/contacts/ContactPage.tsx
  scripts/db-sync-from-neon.sh
  scripts/init-test-db.sh
  scripts/seed.sql
  scripts/sync-from-neon.sh
Due: eslint, oxfmt

🐛 fix: PRレビュー指摘の修正（プレビューモード安全性向上）
  SETUP.md
  backend/src/routes/users.ts
  frontend/src/hooks/usePreviewMode.ts
  frontend/src/lib/api.ts
  frontend/src/pages/settings/components/AdminTab.tsx
  scripts/db-seed.sh
  scripts/sync-from-neon.sh
Due: eslint, oxfmt

🐛 fix(auth): プレビュートークンの空白文字バリデーション追加
  frontend/src/hooks/usePreviewMode.ts
Due: eslint, oxfmt

👷 fix(ci): ステージングデプロイのトリガーブランチをdevelopに修正
  .github/workflows/deploy-staging.yml
Due: oxfmt

🐛 fix(tasks): アサイン保存をポップオーバー閉時に遅延
  frontend/src/components/shared/TaskDrawer/TaskDetailTab.tsx
  frontend/src/hooks/useAssigneePopover.ts
  frontend/src/pages/tasks/components/TaskBasicInfo.tsx
Due: eslint, oxfmt

♻️ chore(scripts): Firestore→Neon マイグレスクリプトを復元
  bun.lock
  package.json
  scripts/migrate-firestore-to-neon.ts
Due: eslint, oxfmt

⚙️ chore(scripts): migrate-firestore-to-neon をローカル実行対応
  bun.lock
  package.json
  scripts/migrate-firestore-to-neon.ts
Due: eslint, oxfmt

🐛 fix(dashboard): KPIカードの完了件数を集計表示
  frontend/src/hooks/useTasks.ts
Due: eslint, oxfmt

✨ feat(notifications): セッション未記録通知の結果をトースト表示
  frontend/src/components/shared/UnrecordedMembersSection.tsx
Due: eslint, oxfmt

✨ feat(reports): 3時間超過理由をフォーカス離脱で自動保存
  frontend/src/components/shared/ReportDrawer/ReportDetailTab.tsx
  frontend/src/hooks/useTaskMutations.ts
  frontend/src/lib/constants.ts
Due: eslint, oxfmt

✨ feat(tasks): タスク詳細ページに3時間超過理由セクションを追加
  frontend/src/pages/tasks/TaskDetailPage.tsx
  frontend/src/pages/tasks/components/TaskOver3Reason.tsx
  frontend/src/pages/tasks/components/TaskSessionHistory.tsx
Due: eslint, oxfmt

👷 ci(workflows): 本番バックエンドデプロイを自動化
  .github/workflows/deploy-production.yml
Due: oxfmt

👷 ci(deploy-production): concurrency で並列マイグレーションを防止 (#137)
  .github/workflows/deploy-production.yml
  backend/scripts/migrate-firestore-to-neon.ts
Due: eslint, oxfmt

🐛 fix(tasks): useUpdateTask に楽観更新を追加 (#137)
  frontend/src/hooks/useTaskMutations.ts
Due: eslint, oxfmt

🐛 fix(notifications): 再送失敗時に再送モードを維持 (#137)
  frontend/src/components/shared/UnrecordedMembersSection.tsx
Due: eslint, oxfmt

⚙️ chore(scripts): Firestore→Neon 移行スクリプトを backend 配下に移設 (#137)
  backend/bun.lock
  backend/package.json
  backend/scripts/migrate-firestore-to-neon.ts
  bun.lock
  package.json
Due: eslint, oxfmt

⚙️ chore(root): DBダンプ保存先を .gitignore に追加
  .gitignore
Due: none

🐛 fix(backend): 0003マイグレの重複index作成を削除
  backend/src/db/migrations/0003_colossal_human_torch.sql
Due: none

🐛 fix(notifications): session-reminder を neon-http 対応に修正
  backend/src/lib/notifications.ts
  backend/src/routes/notifications.ts
Due: eslint, oxfmt

🐛 fix(notifications): session-reminder の targetUserIds をアサイニーに制限
  backend/src/routes/notifications.test.ts
  backend/src/routes/notifications.ts
Due: eslint, oxfmt

🐛 fix(backend): 本番Worker名をchumo-apiに修正
  backend/wrangler.toml
Due: none

🔧 chore(backend): Workers observability 有効化 + backlog webhook 診断ログ追加
  backend/src/routes/backlog.ts
  backend/wrangler.toml
Due: eslint, oxfmt

🔧 chore(backend): staging/production にも observability 設定を追加
  backend/wrangler.toml
Due: none

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}, but not: node_modules/**, .next/**, functions/**, *.config.js, *.config.mjs
  eslint-functions: any of: functions/src/**/*.ts and ^functions/
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md,css,scss,yaml,yml}, but not: node_modules/**, functions/node_modules/**, functions/lib/**, .next/**, *.config.js, *.config.mjs, package-lock.json, functions/package-lock.json, bun.lock
