Repository mono-yamamoto/Chumo_task-management-tool: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, eslint-functions, oxfmt

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

eslint-functions:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

oxfmt:
  run: npx oxfmt {staged_files}
  stage_fixed: true
  skip_empty: true

✨ feat(tasks): メンバー別タスク一覧ページ実装
  frontend/src/App.tsx
  frontend/src/pages/tasks/MemberTaskListPage.tsx
  frontend/src/pages/tasks/components/MemberCardSection.tsx
  frontend/src/pages/tasks/components/MemberSection.tsx
  frontend/src/pages/tasks/components/MemberTaskToolbar.tsx
Due: eslint, oxfmt

⚙️ chore(skills): difit・neon-postgres スキル追加
  .claude/skills/difit/SKILL.md
  .claude/skills/neon-postgres
Due: oxfmt

⚙️ chore(root): MCP・Serena設定更新
  .claude/mcp.json
  .serena/project.yml
Due: oxfmt

♻️ refactor(TaskDrawer): ドロワーを汎用化
  frontend/src/components/shared/TaskDrawer/DrawerHeader.tsx
  frontend/src/components/shared/TaskDrawer/DrawerTabBar.tsx
  frontend/src/components/shared/TaskDrawer/TaskDrawer.tsx
Due: eslint, oxfmt

💄 style(layout): 背景色クラス追加
  frontend/src/components/layout/AppLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/tasks/components/TaskTableView.tsx
Due: eslint, oxfmt

♻️ refactor(hooks): useViewMode に members スコープ追加
  frontend/src/hooks/useViewMode.ts
Due: eslint, oxfmt

✨ feat(reports): レポートページ実装
  frontend/src/App.tsx
  frontend/src/components/shared/ReportDrawer/ReportDetailTab.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/lib/mockData.ts
  frontend/src/pages/reports/ReportPage.tsx
  frontend/src/pages/reports/components/DateRangeRow.tsx
  frontend/src/pages/reports/components/ExportModalContent.tsx
  frontend/src/pages/reports/components/ReportTable.tsx
  frontend/src/pages/reports/components/ReportToolbar.tsx
  frontend/src/pages/reports/components/SessionEditModalContent.tsx
  frontend/src/pages/reports/components/SummaryRow.tsx
  frontend/src/types/index.ts
Due: eslint, oxfmt

⚙️ chore(frontend): test-results/ を .gitignore に追加
  frontend/.gitignore
Due: none

✨ feat(contacts): お問い合わせページ実装
  frontend/src/App.tsx
  frontend/src/lib/mockData.ts
  frontend/src/pages/contacts/ContactPage.tsx
  frontend/src/pages/contacts/components/ContactCard.tsx
  frontend/src/pages/contacts/components/ContactFormDrawer.tsx
Due: eslint, oxfmt

📝 docs(skills): design-to-code-verify スキル追加
  .claude/skills/design-to-code-verify/SKILL.md
Due: oxfmt

📝 docs(root): スタック移行に伴う CLAUDE.md 更新
  CLAUDE.md
Due: none

✨ feat(settings): 設定ページ実装
  frontend/src/App.tsx
  frontend/src/pages/settings/SettingsPage.tsx
  frontend/src/pages/settings/components/AddMemberModal.tsx
  frontend/src/pages/settings/components/AdminTab.tsx
  frontend/src/pages/settings/components/DeleteMemberModal.tsx
  frontend/src/pages/settings/components/IntegrationsTab.tsx
  frontend/src/pages/settings/components/NotificationsTab.tsx
  frontend/src/pages/settings/components/ProfileTab.tsx
  frontend/src/pages/settings/components/SettingsNav.tsx
Due: eslint, oxfmt

⚙️ chore(root): ルートからfrontend/backendコマンド実行可能に
  package.json
Due: none

⚙️ chore(root): .wrangler/ を .gitignore に追加
  .gitignore
Due: none

⚙️ chore(frontend): Claude Code ローカル設定追加
  frontend/.claude/settings.local.json
Due: oxfmt

✨ feat(tasks): タスク詳細ページ実装
  frontend/src/App.tsx
  frontend/src/pages/tasks/TaskDetailPage.tsx
  frontend/src/pages/tasks/components/TaskBasicInfo.tsx
  frontend/src/pages/tasks/components/TaskCard.tsx
  frontend/src/pages/tasks/components/TaskDetailActionBar.tsx
  frontend/src/pages/tasks/components/TaskDetailComments.tsx
  frontend/src/pages/tasks/components/TaskDetailHeader.tsx
  frontend/src/pages/tasks/components/TaskSessionHistory.tsx
  frontend/src/pages/tasks/components/TaskTableRow.tsx
  frontend/src/pages/tasks/components/TaskUnrecordedMembers.tsx
Due: eslint, oxfmt

⚙️ chore(root): 便利スクリプトを追加
  package.json
Due: none

🐛 fix(frontend): 静的ルートを動的ルートより前に配置
  frontend/src/App.tsx
Due: eslint, oxfmt

🐛 fix(frontend): Date コンストラクタをタイムゾーン安全に変更
  frontend/src/lib/mockData.ts
Due: eslint, oxfmt

🐛 fix(tasks): ツールバーリンクと合計時間を修正
  frontend/src/pages/tasks/components/TaskListToolbar.tsx
  frontend/src/pages/tasks/components/TaskSessionHistory.tsx
Due: eslint, oxfmt

🐛 fix(settings): プロフィールアイコン色を選択値に連動
  frontend/src/pages/settings/components/ProfileTab.tsx
Due: eslint, oxfmt

🐛 fix(settings): メンバー追加にメール形式バリデーション追加
  frontend/src/pages/settings/components/AddMemberModal.tsx
Due: eslint, oxfmt

🐛 fix(contacts): エラー詳細バリデーションと sr-only 修正
  frontend/src/pages/contacts/components/ContactFormDrawer.tsx
Due: eslint, oxfmt

♿ fix(frontend): aria-label/aria-labelledby を追加
  frontend/src/components/shared/ReportDrawer/ReportDetailTab.tsx
  frontend/src/pages/reports/components/SessionEditModalContent.tsx
  frontend/src/pages/settings/components/IntegrationsTab.tsx
  frontend/src/pages/settings/components/NotificationsTab.tsx
Due: eslint, oxfmt

♿ fix(frontend): フォーム要素のアクセシビリティ改善
  frontend/src/components/shared/ReportDrawer/ReportDetailTab.tsx
  frontend/src/pages/contacts/components/ContactFormDrawer.tsx
  frontend/src/pages/settings/components/AddMemberModal.tsx
Due: eslint, oxfmt

🐛 fix(reports): entry 切替時に超過理由がリセットされない問題を修正
  frontend/src/components/shared/ReportDrawer/ReportDetailTab.tsx
Due: eslint, oxfmt

✨ feat(frontend): Clerk認証基盤を構築
  frontend/bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/AuthGuard.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/main.tsx
  frontend/src/pages/login/LoginPage.tsx
Due: eslint, oxfmt

♻️ refactor(frontend): PRレビュー指摘対応
  frontend/src/hooks/useAuth.ts
  frontend/src/lib/queryKeys.ts
  frontend/src/main.tsx
  frontend/src/pages/login/LoginPage.tsx
Due: eslint, oxfmt

✨ feat(frontend): ユーザー・ラベル取得フック追加
  frontend/src/hooks/useCurrentUser.ts
  frontend/src/hooks/useLabels.ts
  frontend/src/hooks/useUsers.ts
Due: eslint, oxfmt

♻️ refactor(backend): GET /api/tasks の projectType をオプション化
  backend/src/routes/tasks.test.ts
  backend/src/routes/tasks.ts
Due: eslint, oxfmt

✨ feat(frontend): タスク一覧をAPI接続に移行
  frontend/src/hooks/useTasks.ts
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/pages/tasks/MemberTaskListPage.tsx
  frontend/src/pages/tasks/TaskListPage.tsx
  frontend/src/pages/tasks/components/TaskFilterPanel.tsx
Due: eslint, oxfmt

✨ feat(frontend): タスク単一取得・CRUD mutation フック追加
  frontend/src/hooks/useTask.ts
  frontend/src/hooks/useTaskMutations.ts
Due: eslint, oxfmt

♻️ refactor(frontend): TaskDrawer を taskId ベースに改修
  frontend/src/components/shared/TaskDrawer/DrawerHeader.tsx
  frontend/src/components/shared/TaskDrawer/TaskDetailTab.tsx
  frontend/src/components/shared/TaskDrawer/TaskDrawer.tsx
  frontend/src/pages/dashboard/DashboardPage.tsx
  frontend/src/pages/tasks/MemberTaskListPage.tsx
  frontend/src/pages/tasks/TaskListPage.tsx
Due: eslint, oxfmt

🐛 fix(frontend): useDeleteTask で個別タスクキャッシュをクリア
  frontend/src/hooks/useTaskMutations.ts
Due: eslint, oxfmt

✨ feat(frontend): コメント機能を実装
  frontend/src/components/shared/TaskDrawer/CommentTab.tsx
  frontend/src/components/shared/TaskDrawer/TaskDrawer.tsx
  frontend/src/hooks/useTaskComments.ts
Due: eslint, oxfmt

✨ feat(frontend): タイマー/セッション機能を実装
  frontend/src/components/layout/Header.tsx
  frontend/src/components/shared/TaskDrawer/DrawerActionBar.tsx
  frontend/src/components/shared/TaskDrawer/TaskDrawer.tsx
  frontend/src/components/shared/TimerWidget.tsx
  frontend/src/hooks/useTimer.ts
  frontend/src/types/index.ts
Due: eslint, oxfmt

♻️ refactor(frontend): タイマーコードの品質改善
  frontend/src/components/shared/TimerWidget.tsx
  frontend/src/hooks/useTimer.ts
Due: eslint, oxfmt

✨ feat(frontend): レポートページをAPI接続に移行
  frontend/src/hooks/useReportData.ts
  frontend/src/pages/reports/ReportPage.tsx
  frontend/src/pages/reports/components/ExportModalContent.tsx
Due: eslint, oxfmt

♻️ refactor(frontend): レポートコードの品質改善
  frontend/src/hooks/useReportData.ts
  frontend/src/pages/reports/ReportPage.tsx
  frontend/src/pages/reports/components/ExportModalContent.tsx
Due: eslint, oxfmt

✨ feat(frontend): お問い合わせページをAPI接続に移行
  frontend/src/hooks/useContacts.ts
  frontend/src/pages/contacts/ContactPage.tsx
Due: eslint, oxfmt

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}, but not: node_modules/**, .next/**, functions/**, *.config.js, *.config.mjs
  eslint-functions: any of: functions/src/**/*.ts and ^functions/
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md,css,scss,yaml,yml}, but not: node_modules/**, functions/node_modules/**, functions/lib/**, .next/**, *.config.js, *.config.mjs, package-lock.json, functions/package-lock.json, bun.lock
