Repository mono-yamamoto/Chumo_task-management-tool: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, eslint-functions, oxfmt

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

eslint-functions:
  run: npx eslint --fix {staged_files}
  stage_fixed: true
  skip_empty: true

oxfmt:
  run: npx oxfmt {staged_files}
  stage_fixed: true
  skip_empty: true

🐛 fix: ESLintエラー修正 (#87)
  components/RiveBackground.tsx
  stores/themeStore.ts
Due: eslint, oxfmt

⚙️ chore(functions): lintスクリプト追加 + recommendedTypeChecked有効化 (#87)
  functions/eslint.config.mjs
  functions/package.json
Due: oxfmt

🔧 refactor(functions): 型安全化対応 (#87)
  functions/src/chat/create.ts
  functions/src/contact/createIssue.ts
  functions/src/drive/create.ts
  functions/src/github/create.ts
  functions/src/reports/time.ts
  functions/src/sync/backlog.ts
  functions/src/tasks/timer.ts
  functions/src/types/index.ts
  functions/src/webhook/backlog.ts
Due: eslint-functions, oxfmt

🔧 refactor: CodeRabbitレビュー指摘対応 (#87)
  .claude/agents/spec-document-creator.md
  .claude/commands/commit.md
  .cursor/commands/spec-document-creator.md
  AGENTS.md
  components/RiveBackground.tsx
  docs/CLOUD_FUNCTIONS_LOGS.md
  docs/DRIVE_PERMISSION_CHECK.md
  docs/operations/GITHUB_TOKEN_RENEWAL.md
  docs/setup/CHECKLIST.md
  docs/setup/SECRET_MANAGER.md
  functions/src/contact/createIssue.ts
  functions/src/sync/backlog.ts
Due: eslint, eslint-functions, oxfmt

✨ feat(tasks): タスク並び替え機能を追加 (#81)
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/tasks/page.tsx
  components/tasks/SortableTableRow.tsx
  components/tasks/TaskListTable.tsx
  hooks/useTasksList.ts
  hooks/useUpdateTasksOrder.ts
  lib/application/usecases/listTasks.usecase.ts
  package-lock.json
  package.json
  stores/taskStore.ts
Due: eslint, oxfmt

✨ feat(tasks): カード表示にITアップ日を追加 (#90)
  components/tasks/TaskCard.tsx
Due: eslint, oxfmt

♻️ refactor(tasks): カード表示のレイアウト調整 (#90)
  app/(dashboard)/tasks/page.tsx
  components/tasks/PersonalTaskSection.tsx
  components/tasks/StatusBlock.tsx
  components/tasks/TaskCard.tsx
  components/tasks/TaskCardGrid.tsx
  components/tasks/TaskPersonalView.tsx
Due: eslint, oxfmt

♻️ refactor(dashboard): カード表示から進捗ラベルを削除 (#90)
  components/tasks/TaskCardGrid.tsx
Due: eslint, oxfmt

🐛 fix(notifications): コメント通知の遷移先をlocalhostから本番URLに修正 (#92)
  docs/setup/ENV.md
  functions/src/notifications/onCommentCreate.ts
  public/firebase-messaging-sw.js
Due: eslint, eslint-functions, oxfmt

✨ feat(designs): デザインシステム定義を追加
  .claude/skills/color-system-design/SKILL.md
  .claude/skills/color-system-design/palette.md
  .claude/skills/color-system-design/reference.md
  .claude/skills/color-system-design/spacing.md
  .claude/skills/color-system-design/typography.md
  designs/chumo.pen
Due: oxfmt

⚙️ chore(serena): プロジェクト設定を更新
  .serena/project.yml
Due: oxfmt

💄 style(designs): デザインファイルを更新・追加
  designs/chumo.pen
  designs/design.pen
Due: none

📝 docs(skills): カラーパレット仕様に変数名を追加
  .claude/skills/color-system-design/palette.md
Due: oxfmt

💄 style(designs): デザインファイルを更新
  designs/design.pen
Due: none

💄 style(designs): アイコンのiconFontNameを修正
  designs/design.pen
Due: none

📝 docs(design-renewal): リニューアル計画ドキュメントを追加
  docs/design-renewal/staging-environment.md
  docs/design-renewal/testing-strategy.md
  docs/design-renewal/ui-stack-migration.md
Due: oxfmt

📝 docs(skills): デザインブレスト用スキルを追加
  .claude/skills/design-brainstorm/SKILL.md
  .claude/skills/design-brainstorm/references/design-principles.md
  .claude/skills/design-brainstorm/references/pencil-tips.md
Due: oxfmt

📝 docs(design-intent): デザイン意図ドキュメントを追加
  .design-intent/purpose.md
Due: oxfmt

⚙️ chore(serena): project.yml設定を更新
  .serena/project.yml
Due: oxfmt

📝 docs(skills): リファレンス構成を再編成
  .claude/skills/design-brainstorm/SKILL.md
  .claude/skills/design-brainstorm/references/design-craft.md
  .claude/skills/shared/references/thinking-principles.md
Due: oxfmt

📝 docs(skills): plan-brainstormスキルを追加
  .claude/skills/plan-brainstorm/SKILL.md
  .claude/skills/plan-brainstorm/references/planning-craft.md
Due: oxfmt

📝 docs(specs): 仕様ドキュメントを追加
  docs/specs/_template.md
  docs/specs/dashboard/task-pin.md
  docs/specs/shared/personal-memo.md
Due: oxfmt

📝 docs(skills): AskUserQuestion活用ルールを明確化
  .claude/skills/design-brainstorm/SKILL.md
Due: oxfmt

📝 docs(specs): ピン留めの視覚表現仕様を修正
  docs/specs/dashboard/task-pin.md
Due: oxfmt

📝 docs(specs): タスク一覧ビュー仕様書を追加
  docs/specs/shared/task-list-view.md
Due: oxfmt

📝 docs(skills): AskUserQuestion活用ルールに統一
  .claude/skills/plan-brainstorm/SKILL.md
Due: oxfmt

📝 docs(specs): 設定ページ仕様書を追加
  docs/specs/settings/settings-page.md
Due: oxfmt

📝 docs(specs): タスク詳細ドロワー仕様書を追加
  docs/specs/shared/task-detail-drawer.md
Due: oxfmt

📝 docs(skills): plan-brainstormにスタイル情報制限ルールを追加
  .claude/skills/plan-brainstorm/SKILL.md
Due: oxfmt

📝 docs(specs): カードビューピン表示をPhase 2に移動
  docs/specs/shared/task-list-view.md
Due: oxfmt

Path conditions:
  eslint: any of: **/*.{ts,tsx,js,jsx}, but not: node_modules/**, .next/**, functions/**, *.config.js, *.config.mjs
  eslint-functions: any of: functions/src/**/*.ts and ^functions/
  oxfmt: any of: **/*.{ts,tsx,js,jsx,json,md,css,scss,yaml,yml}, but not: node_modules/**, functions/node_modules/**, functions/lib/**, .next/**, *.config.js, *.config.mjs, package-lock.json, functions/package-lock.json, bun.lock
